@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gray: #bdbdbd;
    --blue: #2f80ed;
    --softBlue: #2f81edd9;
    --bgColor: white;
    --textColor: black;
    --error: red;
  }

  :root[data-theme='dark'] {
    --gray: #494848;
    --blue: #2f80ed;
    --softBlue: #2f81edd9;
    --bgColor: rgb(38, 38, 38);
    --textColor: rgb(255, 255, 255);
    --error: red;
  }
}

* {
  font-family: 'Rubik', sans-serif;
}

.upload__img__input {
  opacity: 0;
  cursor: pointer;
}

.upload__img__label {
  cursor: pointer;
  padding: 30px 12px;
  color: var(--textColor);
  background: var(--bgColor);
  border-radius: 50%;
}

/* -----------------loader----------------- */

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: ' ';
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
